<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoGrader | About</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header>
    <h1>AutoGrader</h1>
    <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="download.html">Download</a>
    <a href="contact.html">Contact uS</a>
    </nav>
</header>

<main>
    <section>
    <h2>About the Project</h2>
    <p>AutoGrader is an intelligent grading assistant built using Flutter, Firebase, and Google ML Kit. It simplifies the marking and grading process of student scripts through OCR-powered scanning and instant result generation.</p>

    <h3>Team Roles & Contributions</h3>
    <ul>
        <li><strong>Patrick:</strong> Coordinated development and intergrated numerous screens into the project.</li>
        <li><strong>Ssekidde Jovan:</strong>Designed and developed some Application screens and Website.</li>
        <li><strong>Wasswa Drake:</strong> Integrated OCR and improved model accuracy.</li>
        <li><strong>Milla Samantha:</strong> Built the UI/UX for mobile and web.</li>
        <li><strong>Adrian Katongole:</strong> Set up authentication and real-time storage.</li>
    </ul>

    <h3>How the ML & OCR Works</h3>
    <p>We use Google's ML Kit Text Recognition API to scan handwritten or printed text from Question papers, marking guides and answer sheets. The recognized answers are then matched against correct responses stored in the app's Firebase database. This allows for:</p>
    <ul>
        <li>Instant grading based on predefined answers.</li>
        <li>Highlighting of wrong and correct answers.</li>
        <li>Exporting of results and summary reports.</li>
    </ul>
    </section>
</main>

<footer>
    <p>&copy; 2025 AutoGrader Team</p>
</footer>
</body>
</html>
