<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoGrader | Download</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>
        <h1>AutoGrader</h1>
        <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        </nav>
    </header>

<main>
    <section>
    <h2>Download & Install</h2>
    <p>Get the latest version of the AutoGrader App for Android.</p>

    <a href="apk/AutoGraderApp.apk" class="cta">⬇️ Download APK</a>

    <h3>Installation Instructions:</h3>
    <ol>
        <li>Click the download button above.</li>
        <li>Allow installation from unknown sources in your device settings.</li>
        <li>Install the APK and log in with your account.</li>
    </ol>

    <h3>GitHub Repository</h3>
    <p>Browse the full project source code, report issues, or contribute:</p>
    <a href="https://github.com/Lyazi-Patrick/AutoMark-CS-Project" target="_blank">🔗 View on GitHub</a>
    </section>
</main>

<footer>
    <p>&copy; 2025 AutoGrader Team</p>
    <p>Terms and conditions apply </p>
</footer>
</body>
</html>